<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="../static/css/outcomes_record.css"/>
    <link rel="stylesheet" href="../static/css/jedate.css">
</head>
<body>
<h1>蜜枣工作汇报系统</h1>
<div class="body">
    <div class="clearfix">
        <div class="time">当前日期：<span class="date"></span></div><div class="upload">选择上传日期：<input id="ranges02" class="workinput wicon je-mr25" type="text" placeholder="YYYY-MM-DD" readonly/></div></div>
    <div id="target" class="hover"></div>
    <div class="complete">完成</div>
</div>
</body>
<script src="../static/js/jquery-3.1.1.min.js"></script>
<script src="../static/js/outcomes_record.js"></script>
<script src="../static/js/xlsx.full.min.js"></script>
<script src="../static/js/jquery.jedate.min.js"></script>
</html>